<IfModule mod_rewrite.c>
RewriteEngine On
##Just for fun, here's how we might want to handle this once we're running a local server.  
RewriteRule ^wikipedia_en_all_nopic(.*)$ http://library.kiwix.org/wikipedia_en_all_nopic$1 [P,L]
#RewriteRule ^wikipedia_en_simple_all_08_2011(.*)$ http://library.kiwix.org/wikipedia_en_simple_all_08_2011$1 [P,L]
#RewriteRule ^wikipedia_en_wp1(.*)$ http://library.kiwix.org/wikipedia_en_wp1$1 [P,L]

##Just lms working
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule . index.php [L]

</IfModule>

<IfModule mod_speling.c>
    CheckSpelling on
</IfModule>

# Prevent file browsing
Options -Indexes

AddType video/mp4 .mp4
AddType image/svg+xml svg svgz
AddEncoding gzip svgz
