<!DOCTYPE html>
<html lang="en">
	{{ include('components/head.html') }}
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">
					Toggle navigation
					</span>
				</button> 
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav col-md-12">
                    <li class="pull-left dropdown">
                        <a data-target="#" data-toggle="dropdown" href="#" id="dLabel">
							<span class="glyphicon glyphicon-list"></span> 
	                        {% if meta.layout == "home" %}
							Course Navigation
							{% else %}
							{{ site_title }}
	                        {% endif %}
							<span class="caret"></span> 
						</a>
                       	 	{% if meta.layout == "home" %}
							{{ course_navigation }} 
                        	{% else %}
							{{ at_navigation.navigation }} 
                        	{% endif %}
						<!--Example of Nav
                        <ul class="dropdown-menu multi-level">
							<li><a href="{{ coursehomelink }}">Course Home</a></li>
                            <li class="dropdown-submenu">
                                <a href="#">Chapter 1</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Second level</a></li>

                                    <li><a href="#">Second level</a></li>

                                    <li><a href="#">Second level</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#">Chapter 2</a>

                                <ul class="dropdown-menu">
                                    <li><a href="#">Second level</a></li>

                                    <li><a href="#">Second level</a></li>

                                    <li><a href="#">Second level</a></li>
                                </ul>
                            </li>
                        </ul>
					-->
                    </li>
					<!--Logo-->
                    <li class="col-md-offset-4 logo"><a href="#services">LAN Academy</a></li>
					
                    <li class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
							<span class="glyphicon glyphicon-user"></span> 
							{% if authed == false %} 
							User
							{% else %}
							{{ username }}
							{% endif %}
							<span class="caret"></span>
						</a>
                        <ul class="dropdown-menu">
							{% if authed == false %} 
							<li><a id="login" name="loginform" href="#loginform">Login</a> </li>
							<li><a id="register" name="registerform" href="#registerform">Register</a> </li>
							{% else %}
							<li><a href="/logout/">Logout</a></li>
                            <!-- One day perhaps
							<li><a href="#">Profile</a></li>
							-->
							{% endif %}
                        </ul>
                    </li>
					
                </ul> <!--top nav ul-->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<div class="container">
		<div class="row">
				<div class="col-md-10 col-md-offset-1" id="main">
					{% if meta.layout == "home" %}
					<!-- Tabless layout -->
						{{ include('full-pages/home-page.html') }}
						
					<!-- Tabbed layout -->
					{% elseif meta.layout == "course" %}
						{{ include ('full-pages/course-page.html') }}
					
					{% elseif meta.layout == "chapter" %}
						{{ include ('full-pages/chapter-page.html') }}
						
					{% elseif meta.layout == "article" %}
						{{ include ('full-pages/article-page.html') }}
												
					{% elseif meta.layout == "questions" %}	
						{{ include ('full-pages/research-questions-page.html') }}
						
					{% elseif meta.layout == "exam" %}	
						{{ include ('full-pages/exam-page.html') }}
						
					{% else %}	
						{{ include ('full-pages/error-page.html') }}

					{% endif %}	
						<!-- Nav tabs 
						<ul class="nav nav-tabs affix-top" data-offset-top="57" data-spy="affix">
							{% block nav %}
                   
							{% endblock nav %}
						</ul>
						Tab panes 
						<div class="tab-content">
							{% block tabs %}
					
							{% endblock tabs %}
						</div> -->
					
				</div>
		</div>
	</div><!-- /.container -->
	

	{{ include('components/foot.html') }}
</body>
</html>		