<!DOCTYPE html>
<html lang="en">

{{ include('head.html') }}

<body>
	<div id="left-sidebar">
 	   <div id="left-content">
		<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
		<!--Login/logout goes here-->
		
	   	 	<ul id="switcher">
	 	   		<li class="tab"><a href="#quizarea">Quiz</a></li>
	 	   		<li class="tab"><a href="#nav">Nav</a></li>
			</ul>
			<div id="nav">
				{{ at_navigation.navigation }}
			</div>	
			<div id="quizArea"></div>
		
		</div>
	</div>

	<div class="wrapper">
	{% if is_front_page %} <!-- Front page -->
		  	  	{{ include('dashboard.html') }}
	</div>
	{% else %}
				{% if meta.layout == "content" %} <!--Content Page -->
					 <ul id="wiki_switcher">
						 <li id="" class=""><a href="#" style="
    color: inherit;
">Read</a></li>
						 <li id="" class=""><a href="#" style="
    color: inherit;
">Research</a></li>
					 </ul>
									
				{% else %}
				{% endif %}
	<h1>{{ current_page.title }}</h1>	
		{{ content }}
		<br/>
		<div class="sibling_nav">
			<a href="{{ next_page.url }}">< {{ next_page.title }}</a>			
			<a href="{{ prev_page.url }}">{{ prev_page.title }} ></a>	
		</div>
	</div>
		
	{% endif %}
	</div>
	
<div class="footer">
			<p>	LAN-LMS is based off <a href="http://pico.dev7studios.com">Pico</a>.</p>
</div>
	
</body>
</html>