
	body {
		background:#E4E4E4;
		background-size:100%;
		background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /* Make the top nav thinner and colorful*/
    .navbar {
        min-height:32px !important;
    }
    .navbar-nav > li > a {
        padding-top:5px !important; 
        padding-bottom:5px !important;
        font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;
        font-weight: 100;
        font-size:17px;

    }
    .navbar-inverse {
        background-color: rgb(224, 101, 88);
        border-color: #e74c3c;
    }

    /* Dropdown Nav */
    .dropdown>li>a {
        text-align:left;
    }
    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #999;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }
    .dropdown-menu>li>a {
	    text-align:left;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background:inherit;
    }

    /* Content tab style and affix  */
    .nav-tabs{
        background:#7CC57F;
    }

    .nav-tabs.affix-top {
    margin-bottom: -40px; /*This, along with tab-content margin, makes the affix jump less jarring*/
    }
    .tab-content{
        margin-top:40px; /*Other affix smooth part */
    }

    .nav-tabs.affix{
    width:945px; /* Would love a better way to do this*/
    top: 0px;
    border-bottom: 0px solid #CCC;
    height: 41px;
    z-index:999999;
	
    }
	
	@media(max-width:1200px){
	.nav-tabs.affix{
    width:778px; }}
	
	
	@media(max-width:992px){
	.nav-tabs.affix{
    width:720px; }}

	@media(max-width:768px){
	.nav-tabs.affix{
    width:95.5%; 
		
	}}
	
	
	
    .tab-content{
        background:#fff;
    }
    .tab-pane{
        border:1px solid #ddd;
        border-top:transparent;
    }

    /* Styling the tab buttons themselves */
    .nav-tabs>li>a {
    margin-right: 0;
    border-radius: 0;
    background-color: #EEECEC;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    color: #999;
    }

    .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #fff;
    border-color: #ddd #eee #fff;
    color: #555;
    }

    .nav-tabs>li.add-note-btn>a {
    background: #FFF;
    border: none;
    margin: 4px 10px;
    padding: 6px 12px;
    color: #000;
    font-size: 16px;
    }

    /* Assorted Elements */
    .padding{
        padding:20px 40px 0px;
    }
    .padding h1{
        font-weight:300;
		margin:10px 0 20px -5px;
    }
	#writing{
		margin:0 0 40px 0;
	}
    .col-md-offset-4.logo > a {
    font-size: 20px;
    margin-left: -25px;
    }

    #add-note-padding {
    width: 260px;
    padding: 10px;
    }
    .panel-warning>.panel-heading {
    color: #333;
    background-color: #FFFBCF;
    border-color: #DDD;
    }
    iframe{
        width:100%;
        height:20000px;
    }

    footer{
        padding-top:50px;
    }

