<ul id="at-navigation" class="dropdown-menu multi-level">
    <li class="dropdown-submenu">
        <a href="http://127.0.0.1:8080/individual_finance/Non-Content/Preface" class="" title="Preface">Preface</a>
        <ul class="dropdown-menu">
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/Non-Content/About_the_Authors" class="" title="About the Authors">About the Authors</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/Non-Content/Acknowledgments" class="" title="Acknowledgments">Acknowledgments</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/Non-Content/Dedications" class="" title="Dedications">Dedications</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/" class="" title="Personal Financial Planning">Personal Financial Planning</a>
        <ul class="dropdown-menu">
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/1.Individual_or_“Micro”_Factors_That_Affect_Financial_Thinking" class="" title="Individual or “Micro” Factors That Affect Financial Thinking">Individual or “Micro” Factors That Affect Financial Thinking</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/1.Individual_or_“Micro”_Factors_That_Affect_Financial_Thinking_questions" class="" title="Individual or “Micro” Factors That Affect Financial Thinking">Individual or “Micro” Factors That Affect Financial Thinking</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/1.Personal_Financial_Planning_review" class="" title="Personal Financial Planning">Personal Financial Planning</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/2.Systemic_or_“Macro”_Factors_That_Affect_Financial_Thinking" class="" title="Systemic or “Macro” Factors That Affect Financial Thinking">Systemic or “Macro” Factors That Affect Financial Thinking</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/2.Systemic_or_“Macro”_Factors_That_Affect_Financial_Thinking_questions" class="" title="Systemic or “Macro” Factors That Affect Financial Thinking">Systemic or “Macro” Factors That Affect Financial Thinking</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/3.The_Planning_Process" class="" title="The Planning Process">The Planning Process</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/3.The_Planning_Process_questions" class="" title="The Planning Process">The Planning Process</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/4.Financial_Planning_Professionals" class="" title="Financial Planning Professionals">Financial Planning Professionals</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/1.Personal_Financial_Planning/4.Financial_Planning_Professionals_questions" class="" title="Financial Planning Professionals">Financial Planning Professionals</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a href="http://127.0.0.1:8080/individual_finance/12.Investing/" class="" title="Investing">Investing</a>
        <ul class="dropdown-menu">
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/12.Investing/1.Investments_and_Markets_A_Brief_Overview" class="" title="Investments and Markets: A Brief Overview">Investments and Markets: A Brief Overview</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/12.Investing/1.Investments_and_Markets_A_Brief_Overview_questions" class="" title="Investments and Markets: A Brief Overview">Investments and Markets: A Brief Overview</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/12.Investing/12.Investing_review" class="" title="Investing">Investing</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/12.Investing/2.Investment_Planning" class="" title="Investment Planning">Investment Planning</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/12.Investing/2.Investment_Planning_questions" class="" title="Investment Planning">Investment Planning</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/12.Investing/3.Measuring_Return_and_Risk" class="" title="Measuring Return and Risk">Measuring Return and Risk</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/12.Investing/3.Measuring_Return_and_Risk_questions" class="" title="Measuring Return and Risk">Measuring Return and Risk</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/12.Investing/4.Diversification_Return_with_Less_Risk" class="" title="Diversification: Return with Less Risk">Diversification: Return with Less Risk</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/12.Investing/4.Diversification_Return_with_Less_Risk_questions" class="" title="Diversification: Return with Less Risk">Diversification: Return with Less Risk</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a href="http://127.0.0.1:8080/individual_finance/13.Behavioral_Finance_and_Market_Behavior/" class="" title="Behavioral Finance and Market Behavior">Behavioral Finance and Market Behavior</a>
        <ul class="dropdown-menu">
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/13.Behavioral_Finance_and_Market_Behavior/1.Investor_Behavior" class="" title="Investor Behavior">Investor Behavior</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/13.Behavioral_Finance_and_Market_Behavior/13.Behavioral_Finance_and_Market_Behavior_review" class="" title="Behavioral Finance and Market Behavior">Behavioral Finance and Market Behavior</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/13.Behavioral_Finance_and_Market_Behavior/2.Market_Behavior" class="" title="Market Behavior">Market Behavior</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/13.Behavioral_Finance_and_Market_Behavior/2.Market_Behavior_questions" class="" title="Market Behavior">Market Behavior</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/13.Behavioral_Finance_and_Market_Behavior/3.Extreme_Market_Behavior" class="" title="Extreme Market Behavior">Extreme Market Behavior</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/13.Behavioral_Finance_and_Market_Behavior/3.Extreme_Market_Behavior_questions" class="" title="Extreme Market Behavior">Extreme Market Behavior</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/13.Behavioral_Finance_and_Market_Behavior/4.Behavioral_Finance_and_Investment_Strategies" class="" title="Behavioral Finance and Investment Strategies">Behavioral Finance and Investment Strategies</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/13.Behavioral_Finance_and_Market_Behavior/4.Behavioral_Finance_and_Investment_Strategies_questions" class="" title="Behavioral Finance and Investment Strategies">Behavioral Finance and Investment Strategies</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/" class="" title="The Practice of Investment">The Practice of Investment</a>
        <ul class="dropdown-menu">
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/1.Investment_Information" class="" title="Investment Information">Investment Information</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/1.Investment_Information_questions" class="" title="Investment Information">Investment Information</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/14.The_Practice_of_Investment_review" class="" title="The Practice of Investment">The Practice of Investment</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/2.Investing_and_Trading" class="" title="Investing and Trading">Investing and Trading</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/2.Investing_and_Trading_questions" class="" title="Investing and Trading">Investing and Trading</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/3.Ethics_and_Regulation" class="" title="Ethics and Regulation">Ethics and Regulation</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/3.Ethics_and_Regulation_questions" class="" title="Ethics and Regulation">Ethics and Regulation</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/4.Investing_Internationally_Risks_and_Regulations" class="" title="Investing Internationally: Risks and Regulations">Investing Internationally: Risks and Regulations</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/14.The_Practice_of_Investment/4.Investing_Internationally_Risks_and_Regulations_questions" class="" title="Investing Internationally: Risks and Regulations">Investing Internationally: Risks and Regulations</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/" class="" title="Basic Ideas of Finance">Basic Ideas of Finance</a>
        <ul class="dropdown-menu">
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/1.Chapter_Introduction" class="" title="Chapter Introduction">Chapter Introduction</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/2.Basic_Ideas_of_Finance_review" class="" title="Basic Ideas of Finance">Basic Ideas of Finance</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/2.Income_and_Expenses" class="" title="Income and Expenses">Income and Expenses</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/2.Income_and_Expenses_questions" class="" title="Income and Expenses">Income and Expenses</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/3.Assets" class="" title="Assets">Assets</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/3.Assets_questions" class="" title="Assets">Assets</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/4.Debt_and_Equity" class="" title="Debt and Equity">Debt and Equity</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/4.Debt_and_Equity_questions" class="" title="Debt and Equity">Debt and Equity</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/5.Income_and_Risk" class="" title="Income and Risk">Income and Risk</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/2.Basic_Ideas_of_Finance/5.Income_and_Risk_questions" class="" title="Income and Risk">Income and Risk</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a href="http://127.0.0.1:8080/individual_finance/3.Financial_Statements/" class="" title="Financial Statements">Financial Statements</a>
        <ul class="dropdown-menu">
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/3.Financial_Statements/1.Chapter_Introduction" class="" title="Chapter Introduction">Chapter Introduction</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/3.Financial_Statements/2.Accounting_and_Financial_Statements" class="" title="Accounting and Financial Statements">Accounting and Financial Statements</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/3.Financial_Statements/2.Accounting_and_Financial_Statements_questions" class="" title="Accounting and Financial Statements">Accounting and Financial Statements</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/3.Financial_Statements/3.Comparing_and_Analyzing_Financial_Statements" class="" title="Comparing and Analyzing Financial Statements">Comparing and Analyzing Financial Statements</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/3.Financial_Statements/3.Comparing_and_Analyzing_Financial_Statements_questions" class="" title="Comparing and Analyzing Financial Statements">Comparing and Analyzing Financial Statements</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/3.Financial_Statements/3.Financial_Statements_review" class="" title="Financial Statements">Financial Statements</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/3.Financial_Statements/4.Accounting_Software_An_Overview" class="" title="Accounting Software: An Overview">Accounting Software: An Overview</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/3.Financial_Statements/4.Accounting_Software_An_Overview_questions" class="" title="Accounting Software: An Overview">Accounting Software: An Overview</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/" class="" title="Financial Plans: Budgets">Financial Plans: Budgets</a>
        <ul class="dropdown-menu">
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/1.The_Budget_Process" class="" title="The Budget Process">The Budget Process</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/1.The_Budget_Process_questions" class="" title="The Budget Process">The Budget Process</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/2.Creating_the_Comprehensive_Budget" class="" title="Creating the Comprehensive Budget">Creating the Comprehensive Budget</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/2.Creating_the_Comprehensive_Budget_questions" class="" title="Creating the Comprehensive Budget">Creating the Comprehensive Budget</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/3.The_Cash_Budget_and_Other_Specialized_Budgets" class="" title="The Cash Budget and Other Specialized Budgets">The Cash Budget and Other Specialized Budgets</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/3.The_Cash_Budget_and_Other_Specialized_Budgets_questions" class="" title="The Cash Budget and Other Specialized Budgets">The Cash Budget and Other Specialized Budgets</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/4.Budget_Variances" class="" title="Budget Variances">Budget Variances</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/4.Budget_Variances_questions" class="" title="Budget Variances">Budget Variances</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/5.Budgets_Financial_Statements_and_Financial_Decisions" class="" title="Budgets, Financial Statements, and Financial Decisions">Budgets, Financial Statements, and Financial Decisions</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/5.Budgets_Financial_Statements_and_Financial_Decisions_questions" class="" title="Budgets, Financial Statements, and Financial Decisions">Budgets, Financial Statements, and Financial Decisions</a>
            </li>
            <li class="">
                <a href="http://127.0.0.1:8080/individual_finance/5.Financial_Plans_Budgets/5.Financial_Plans_Budgets_review" class="" title="Financial Plans: Budgets">Financial Plans: Budgets</a>
            </li>
        </ul>
    </li>
</ul>
