<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta charset="utf-8">
<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<!-- Main Styles -->
<link href="{{ theme_url }}/css/metro-bootstrap.css" rel="stylesheet" type="text/css">
<link href="{{ theme_url }}/docs/font-awesome.css" rel="stylesheet">
<link href="{{ theme_url }}/css/style.css" rel="stylesheet">
<!-- Component Styles-->


</head>
