{% extends "../index.html" %}

{% block nav %}
    <li class="active">
		<a data-toggle="tab" href="#article">
			<span class="glyphicon glyphicon-book"></span> 
			Reading
		</a>
	</li>
	{{ parent() }}
{% endblock nav %}

{% block tabs %}
    <div class="tab-pane active" id="article">
        <div class="padding">
            <h1> {{ current_page.title }}</h1>
			
           	{{ content }}
			
			{% if noquiz %}
			<!-- No quiz for this page (no keywords found)-->
			{% else %}
			<div class="row" id="vocab-quiz">
			  <div class="col-md-8 col-md-offset-2">
			  	<div class="panel panel-danger" id="vocab-quiz-panel">
			                                <div class="panel-heading">
			                                    <h3 class="panel-title">Vocabulary Quiz</h3>
			                                </div>

			                                <div class="panel-body">
			                                    <p>
													This is the defintion of a term that was in this section and is pretty long
												</p>
												<div class="radio">
												  <label>
												    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
												   Option One
												  </label>
												</div>
												<div class="radio">
												  <label>
												    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
												    Option two can be something else and selecting it will deselect option one
												  </label>
												</div>
												<div class="radio">
												  <label>
												    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
												    Option two can be something else and selecting it will deselect option one
												  </label>
												</div>
												<div class="radio">
												  <label>
												    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
												    Option two can be something else and selecting it will deselect option one
												  </label>
												</div>
											</div>
						
			                                <div class="panel-footer">
			                                    <button class="btn btn-success btn-sm" type="button">Check Answer</button> <button class="btn btn-primary disabled btn-sm" type="button">Next Question</button>
			                                </div>
				</div>

                
			  </div>
			</div>
			{% endif %}
			
        </div>
		<div class="row">
			<ul class="pager pagination-lg">
				<li><a href="{{ next_page.url }}">← {{ next_page.title }}</a></li>
				<li><a href="{{ prev_page.url }}">{{ prev_page.title }} →</a></li>
			</ul>
		</div>
    </div>
    
	{{ parent() }}

{% endblock tabs %}
