		<div id="loginform">
			<a class="modal_close" href="#">X Close</a>
			<form method="post" action="/login/">
				{% if login_error %}
				<p class="error">
					{{ login_error }}
				</p>
				{% endif %} <input type="text" name="username" id="username" placeholder="Username" value="{{ username }}"> <input type="password" name="password" id="password" placeholder="Password"> <input class="alignright" type="submit" value="Login">
			</form>
		</div>
		<div id="registerform">
			<a class="modal_close" href="#">X Close</a>
			<form method="post" action="/register/">
				{% if register_error %}
				<p class="error">
					{{ register_error }}
				</p>
				{% endif %} 
				<input type="text" name="username" id="username" placeholder="Username" value="{{ username }}"> 
				<input type="password" name="password" id="password" placeholder="Password"> 
				<input type="password" name="password2" id="password2" placeholder="Confirm Password"> Grade: 
				<select name="grade" id="grade">
					<option value="9">
						9
					</option>
					<option value="10">
						10
					</option>
					<option value="11">
						11
					</option>
					<option value="12">
						12
					</option>
				</select> <input type="text" name="name" id="name" placeholder="Full Name"> <input class="alignright" type="submit" value="Register">
			</form>
		</div>