<head>
    <meta charset="utf-8" />
    
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
    <meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
    <meta name="robots" content="{{ meta.robots }}">
{% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/style2.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/jQuizMe.css" type="text/css" />
    
    <!-- 1. jquery library -->
    <script src="{{ theme_url }}/scripts/jquery.min.js"></script>
    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
   
	<!-- easytabs -->
    {% if authed == false %}
    <script src="{{ theme_url }}/scripts/jquery.leanModal.min.js"></script>
    <script type="text/javascript">
            $(function() {
                $('a[rel*=leanModal]').leanModal({ top : 200, closeButton: ".modal_close" });       
            });
    </script>
    {% endif %}

    {% if meta.layout == "quiz" %}
    <script src="{{ theme_url }}/scripts/ace.js"></script>
    <link rel="stylesheet" href="{{ theme_url }}/quiz.css" type="text/css" />
    {% endif %}
    
    {% if meta.layout == "content" %}
    <script src="{{ theme_url }}/scripts/jQuizMe-2.2.1.js"></script>
    <!-- Note: I added all of jquery UI for development purposes. The only thing
    I've used is the tabs functionality. Feel free to replace this with ui.tabs-->
    <script src="{{ theme_url }}/scripts/jquery-ui.min.js"></script>
    <script src="{{ theme_url }}/scripts/jquery.highlight.js"></script>
    <script src="{{ theme_url }}/scripts/pkWiki.js"></script>

    <script type="text/javascript">
    $(function() {
        $('#tabbed_content').tabs();
        $('#tabbed_content').pkwiki({loc: 'lib', keywords: "{{ meta.keywords }}" });
    });
    </script>
    {% endif %}

    <!-- 2. flowplayer  -->
    <script src="{{ theme_url }}/scripts/flowplayer.min.js"></script>
    <!-- 3. skin -->
    <link rel="stylesheet" href="{{ theme_url }}/minimalist.css">
    <script src="{{ theme_url }}/scripts/jquery.hoveraccordion.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){ 
            $('#at-navigation > ul').hoverAccordion({ 
                keepHeight: false, 
                speed: 'fast',
                onClickOnly: false
            }); 
            
        });
    </script>
	<script type="text/javascript">
	$(function() {                                   // <== shorter form of doc ready
	    $('#tabs > div').hide();
	    $('#tabs div:first').fadeIn('slow');
	    $('#tabs ul li:first').addClass('active');
	    $('#tabs ul li a').click(function(){
	        $('#tabs ul li.active').removeClass('active');  // <== Only what you need
	        $(this).parent().addClass('active');
	        var selectedTab=$(this).attr('href');
	        $('#tabs > div').fadeOut('fast', function() {       // <== Use a callback
	            $(selectedTab).delay(500).fadeIn('fast');          // <== add a delay
	        });        
	        return false;
	    });
	});
	</script>
  
		
</head>