<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}

	<link rel="stylesheet" href="{{ theme_url }}/style2.css" type="text/css" />
	<link rel="stylesheet" href="{{ theme_url }}/quiz.css" type="text/css" />
	
	
	<script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
	<script src="{{ theme_url }}/scripts/discolytics.js"></script>
	<script>
		$disco.init({
			apiKey: "09652fbf06b44c2c9bad5349a900c2cd"
		});
		$(function () {
			$disco.trackPage("{{ current_url }}", "{{ username }}");
		});
	</script>
	<script src="{{ theme_url }}/scripts/time.js"></script>
	{% if meta.layout == "quiz" %}
	<script src="{{ theme_url }}/scripts/ace.js"></script>
	
	{% endif %}

</head>

<body onload="setInterval('updateClock()', 10000);">
	<div id="left-sidebar">
 	   <div id="left-content">
		<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
		
		{{ at_navigation.navigation }}
			 
		</ul>
		</div>
	</div>

	{% if is_front_page %} <!-- Front page -->
		<div class="wrapper">
		  	  	{{ include('front-dash.html') }}
		</div>
	{% elseif meta.layout == "content" %} <!--Content Page -->
	<div class="wrapper">
			<div id="time"></div>
	<h1>{{ current_page.title }}</h1>	
			{{ content }}
	<br/>
	<a href="{{ next_page.url }}">{{ next_page.title }}</a>			
	<a href="{{ prev_page.url }}">{{ prev_page.title }}</a>	
	
			
	</div>
	{% else %} <!-- Non-front pages -->
		<div class="wrapper">
				<div id="time"></div>
				{{ content }}
		</div>
		
	{% endif %}
	
<div class="footer">
			<p>	LAN-LMS is based off <a href="http://pico.dev7studios.com">Pico</a>.</p>
</div>

    
</body>
</html>