<!DOCTYPE html>
<html lang="en">

{{ include('head.html') }}


<body>

	<div id="left-sidebar">
 	   <div id="left-content">
		<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
		<!--Login/logout goes here-->
		
	   	<div id="tabs">
			<ul id="switcher">
	 	   		<li><a href="#quiz">Quiz</a></li>
	 	   		<li><a href="#nav">Nav</a></li>
	 	   		<li><a href="#notes">Notes</a></li>
			</ul>
			
			<div id="nav">
				{{ at_navigation.navigation }}
			</div>	
			<div id="quiz">
				<div id="quizArea"></div>
			</div>
			<div id="notes">
				<div id="notesArea">
					<form>
					<input type="text" placeholder="Title"/>
					<textarea id="editor_side"></textarea>
					<input type="button" value="Save as New"/>
					<input type="button" value="Save"/>
					<input type="button" value="Discard"/>
					</form>
				</div>
				
				<div id="notesList">
					<form>
						<input type="button" id="pkSaveAll" value="Save All Notes"/>
						<input type="text" name="search" placeholder="search"/>
					</form>
					<ul>
					</ul>
				</div>
			</div>
		</div>
		
		</div>
	</div>

	<div class="wrapper">
	{% if is_front_page %} <!-- Front page -->
		  	  	{{ include('dashboard.html') }}
	</div>
	{% else %}

				{% if meta.layout == "content" %} <!--Content Page -->
				<div id="tabbed_content"> <!-- need this setup for jquery-ui.tabs -->
					 <ul id="wiki_switcher">
						 <li class=""><a href="#pane_read" style="
    color: inherit;
">Read</a></li>
						 <li  class=""><a href="#pane_research" style="
    color: inherit;
">Research</a></li>
					 </ul>
					 <div id="pane_read">
									
				{% else %}
				{% endif %}
	<h1>{{ current_page.title }}</h1>	
		{{ content }}


		{% if meta.layout == "content" %}
			</div>
			<style>
				#pane_wiki{
					width: 100%;
					height: 100%;
				}
			</style>
			<div id="pane_research">
				<iframe id="pane_wiki" src="http://library.kiwix.org/wikipedia_en_all_nopic/A/History%20of%20the%20world.html"></iframe>
			</div>
			</div> <!---end tabbed content-->
		{% else %}
		{% endif %}

		<br/>
		<div class="sibling_nav">
			<a href="{{ next_page.url }}">< {{ next_page.title }}</a>			
			<a href="{{ prev_page.url }}">{{ prev_page.title }} ></a>	
		</div>
	</div>
		
	{% endif %}
	</div>
	
<div class="footer">
			<p>	LAN-LMS is based off <a href="http://pico.dev7studios.com">Pico</a>.</p>
</div>
	
</body>
</html>