body {
  font-family: Georgia, 'Times New Roman', serif;
  margin-left: 32px;
  margin-bottom: 32px;
}

.quiz-form {
  margin-left: 32px;
}

.quiz-form ul {
  list-style-type: none;
}

.credit,
.quiz-order {
  font-size: 50%;
  color: grey;
}

.quiz-form .code-editor { 
  width: 100%;
  height: 320px;
  position: relative;
}

.text-editor {
  width: 100%;
  height: 120px;
  min-height: 120px;
}

.code-editor,
.text-editor {
  border: solid 1px #ccc;
  border-radius: 3px;
  font-family: Monoco, Consolas, 'Courier New', monospace;
}

.form-tail {
  margin-top: 32px;
}

.button {
  padding: 6px 12px;
  border-radius: 3px;
  border: solid 1px #ccc;
  background: #efefef;
  box-shadow: 0 0 2px #ddd;
}

.button:hover {
  background: #f7f7f7;
  box-shadow: 1px 1px 2px #eee;
}

.button:active {
  background: #dfdfdf;
  box-shadow: inset 0 0 1px #ccc;
}

.button.submit {
  color: white;
  border: solid 1px #369;
  background: #369;
}

.button.submit:hover {
  background: #47a;
  box-shadow: 1px 1px 2px #ccf;
}

.button.submit:active {
  background: #369;
  box-shadow: inset 0 0 2px #258;
}
