
@media screen{
  body>div#left-sidebar{
     position:fixed;
  }
}

/*****FONTS*****/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700italic,700,300italic,300|Acme); /* Acme font is required for .arrow */

/*****END FONTS*****/
/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/*****MAIN*****/

::selection {
	color: #000;
	text-shadow:none;
	background: #72C9BD;
}

::-moz-selection {
	color: #000;
	text-shadow:none;
	
	background: #72C9BD;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background: #d3d7dc;
	font: normal 400 14px/21px 'Source Sans Pro', Helvetica, Arial, sans-serif;
	color: #464851;
}

h1 {
	font: normal 600 36px/48px 'Source Sans Pro', Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
	margin-bottom: 30px;
}
h2 {
	font-size: 1.7em;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
	
	margin-bottom: 30px;
	
}

h3 {
	font-size: 1.5em;
	margin-top: 2em;
}

p {
	margin-bottom: 1em;
}

ol, ul {
	padding-left: 30px;
	margin-bottom: 1em;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

abbr, acronym {
	cursor: help;
	border-bottom: 0.1em dotted;
}

td, td img {
	vertical-align: top;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

code {
	font-family: Courier, "Courier New", Monaco, Tahoma;
	background: #eee;
	color: #333;
	padding: 0px 2px;
}

pre {
	background: #eee;
	padding: 20px;
	margin-bottom: 1em;
	overflow: auto;
}

blockquote {
	font-style: italic;
	margin: 0 0 1em 15px;
	padding-left: 10px;
	border-left: 5px solid #dddddd;
}

p {
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
	margin-bottom: 20px;
}

strong {
	font-weight: 700;
}
a, a:visited {
	color: #2EAE9B;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover, a:active {
	color: #000;
	text-decoration: none;
}

#left-sidebar{
 background: #2EAE9B;
 position:absolute;
 top:0;
 left:0;
 width:250px;
 height:100%;
}

#left-content{
	 padding: 30px;
 	 margin-top: 35px;	
 }
 #left-content a { color: #afe1da; }
 #left-content h1 a,
 #left-content a:hover { color: #fff; text-decoration: none;}
 #left-content h1 { 
 	/* font-weight: bold; */
 	/* margin: 0; */ 
 	/* float: left; */
 
 	text-shadow: none;
}
 #left-content .nav {
 	float: left;
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }
 #left-content .nav li { /* display: inline; */ margin-left: 20px; }
 #left-content .nav a {
 	/* font-weight: bold; */
 
 	text-decoration: none;
}

 #left-content .nav li {
 	position: relative;
 }
 #left-content .nav li ul {
 	display: none;
 	position: absolute;
 	top: 17px;
 	left: 0px;
 	padding: 5px 0 0;
 	width: 150px;
 }
 #left-content .nav li ul ul {
 	left: -5px;
 	top: 5px;
 	padding: 0;
 }
 #left-content .nav li:hover > ul {
 	display: block;
 }

 #left-content .nav li:hover > ul ul {
 	display: block;
 }
 #left-content .nav li ul li {
 	margin-left: 0px;
 	padding: 2px 10px;
 	display: block;
 	background: rgba(0, 0, 0, 0.1);
 }
#time {
position: absolute;
top: 10px;
right: 40px;
color: rgb(0, 129, 0);
}
#lefty {
position: absolute;
top: 10px;
left: 40px;
color: rgb(0, 129, 0);
}

.wrapper {
	background: #fff;
	border: 1px solid #fff;
	width: 60%;
	padding: 50px 20px;
	margin: 0 auto;
	margin-left: 28%;
	position: relative;
	top: 40px;
	clear: both;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.footer {
	position: relative;
	margin: 0 auto;
	margin-right: 8%;
	padding-bottom: 5px;
	top: 175px;
	min-height:1px;
	float:right;
}

.footer p {
	font-size: 12px;
	color: #888888;
}

.footer p a {
	color: #888888;
	text-decoration: none;
}

.footer p a:hover {
	color: #ec6912;
}

.backlink {
	display: block;
	position: absolute;
	float: right;
	right: 25px;
	bottom: 25px;
	padding: 5px;
	
	font-weight: 700;
	font-size: 12px;
	text-align: right;
	text-decoration: none;
	color: rgba(0,0,0,0.5);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

.backgroundlink:hover {
	color: rgba(0,0,0,0.75);
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
}

.backgroundlink:focus {
	bottom: 24px;
}

/*****END MAIN ONLY*****/


/*****ANIMATONS (optional)*****/

#menu, #menu .arrow, #menu nav a {
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

/*****END ANIMATONS*****/


/*****Wiki PANEL*****/

#wiki {
	background: #f9f9f9;
	border-right: 3px solid #fff;
	width: 100px;
	padding: 30px;
	position: fixed;
	z-index: 100000;
	border-left:20px solid #000;
	
	box-shadow: 1px 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 0 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 1px 0 3px rgba(0,0,0,0.25);
}

#wiki {
	right: 0; /* Change to right: 0; if you want the panel to display on the right side. */
}

/*#menu:hover, #menu:focus {
	right: 0 !important; /* Change to right: 0 !important; if you want the panel to display on the right side. 
} */

#wiki .arrow {
	margin-top: 200px;
	left: 10px; /* Change to left: 2px; if you want the panel to display on the right side. */
}

#wiki .arrow {
	font: normal 400 25px/25px 'Acme', Helvetica, Arial, sans-serif; /* Acme font is required for .arrow */
	color: rgba(0,0,0,0.75); /* Arrow color */
	width: 16px;
	height: 25px;
	display: block;
	position: absolute;
	top: 20px;
	cursor: default;
}

#wiki:hover .arrow {
	transform: rotate(-180deg) translate(6px,-3px);
	-moz-transform: rotate(-180deg) translate(6px,-3px);
	-webkit-transform: rotate(-180deg) translate(6px,-3px);
}


/*****END WIKI PANEL*****/